body {
font-family: Arial;
background-color: white;
}

nav a {
margin: 10px;
text-decoration: none;
color: black;
}

button {
background-color: orange;
color: white;
padding: 10px;
}

.dark {
background-color: black;
color: white;
}
